# Configurações do Servidor
PORT=3333
NODE_ENV=development

# Segurança (JWT)
# Chave secreta para assinatura dos tokens JWT (Gerar uma string aleatória forte)
APP_SECRET=

# Banco de Dados (Ajuste conforme seu ambiente local)
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=jr_stock
